<div class="d-flex justify-content-center mt-5" style="background-color: rgb(37, 38, 40); width: 300px; height: 360px; margin: auto; border-radius: 10px;">
    <form (ngSubmit)="onSubmit()" #loginform="ngForm">
        <div class="mb-3 mt-3">
            <h2 class="text-center mt-2" style="color: rgb(197, 8, 197);">
                LOGIN
            </h2>
            <!-- email -->
            <label for="email" class="form-label" style="color: rgb(197, 8, 197);">Email address</label>
            <input 
            [(ngModel)]="email" #inputEmail="ngModel" name="email" type="email" class="form-control" id="email" required email placeholder="Enter your email" autocomplete="new-password">
            <div class="error" *ngIf="inputEmail.invalid && inputEmail.touched">
                <span *ngIf="inputEmail.errors?.['required']">Email required</span>
                <span *ngIf="inputEmail.errors?.['email']">Please enter a Valid</span>
            </div>
        </div>
        <!-- password -->
        <div class="mb-3">
            <label class="form-label" style="color: rgb(197, 8, 197);">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" #inputPassword="ngModel" placeholder="Enter your Password" autocomplete="new-password" required minlength="6">
            <div *ngIf="inputPassword.invalid && inputPassword.touched">
                <span *ngIf="inputPassword.errors?.['required']">Password Required</span>
                <span *ngIf="inputPassword.errors?.['minlength']">Check Password</span>
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-dark" [disabled]="loginform.invalid" routerLink="/welcome">Submit</button>
        </div>
        <div class="text-center mt-2">
            <a routerLink="/register" style="text-decoration: none; color: rgb(197, 8, 197);"><span>New here? Register</span></a>
        </div>
    </form>
</div>
