<div class="row mx-3 mt-5">
    <div class="col-md-2 text-center">
            <img src="https://th.bing.com/th/id/OIP.0DpnDJy183uUSHxI0sIN7wHaIr?w=874&h=1024&rs=1&pid=ImgDetMain" width="50px" height="50px" alt="">
                <h5>User</h5>
                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, neque accusantium minus 
                    reiciendis error ullam quam debitis vero doloribus recusandae
                     dicta repellendus ratione quia assumenda amet facilis eius adipisci nihil.</p>
    </div>
    <div class="col-md-5">
        <h3><b>User Details</b></h3>
    </div>
    <div class="col-md-5">
        <h3><b>Account Details</b></h3>
    </div>
</div>
